<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Server Programming</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign out" />
    </form>
    <div><a th:href="@{/home}">Home page</a></div>
    <div><a th:href="@{/projectList}">Project list</a></div>
    <div sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/userManagement}">User management</a></div>

    <h1>Welcome <span sec:authentication="name"></span>!</h1>

    <h2>My projects</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Pattern</th>
            <th>Category</th>
            <th>Size</th>
            <th>Needles</th>
            <th>Notes</th>
            <th>Yarns</th>
            <th>Image</th>
        </tr>
        <tr th:each="project : ${usersProjects}">
            <!--<td th:text="${project.appUser.username}"></td>-->
            <td th:text="${project.name}"></td>
            <td th:text="${project.pattern.name}"></td>
            <td th:text="${project.category.name}"></td>
            <td th:text="${project.size}"></td>
            <td th:text="${project.needles}"></td>
            <td th:text="${project.notes}"></td>

            <!--Show yarns-->
            <td>
                <span th:each="yarn : ${project.projectYarns}">
                    <span th:text="${yarn.name} + ' (' + ${yarn.brand} + ', ' + ${yarn.color} + ')'"></span><br>
                </span>
            </td>

            <!--Show image-->
            <td>
                <img th:src="@{/images/{id}(id=${project.projectId})}" style="max-width: 150px;">
            </td>
            <td><a th:href="@{/delete/{id}(id=${project.projectId})}">Delete</a></td>
            <td><a th:href="@{/edit/{id}(id=${project.projectId})}">Edit</a></td>
        </tr>
    </table>
    <a href="/addProject">Add project</a>
</body>

</html>