<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Server Programming</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign out" />
    </form>
    <div><a th:href="@{/home}">Home page</a></div>
    <div><a th:href="@{/projectList}">Project list</a></div>
    <div sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/userManagement}">User management</a></div>

    <h1>KnitDiary users</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>role</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.role}"></td>

            <td><a th:href="@{/editUser/{id}(id=${user.userId})}">Edit</td>
        </tr>
    </table>

</body>

</html>